<!--<div class="px-4 py-1 bg-base-300">-->
<!--    <div class="flex flex-wrap justify-between items-center">-->
<!--        <div class="flex">-->
<!--            <img class="h-7 mr-2 mt-2.5" src="/static/banner.gif">-->
<!--            <div class="mt-1 w-48">-->
<!--                長崎日大新聞部WEBサイト-->
<!--                <div class="text-sm breadcrumbs" style="margin-bottom: -8px;margin-top: -9px;">-->
<!--                    <ul>-->
<!--                        <li>-->
<!--                            <a href="/">トップ</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="flex flex-wrap px-4 py-1" style="background-color: #3e0100;">
    <img class="h-10 m-auto" src="/static/banner2.gif">
</div>

<div style="background-color: #7c0000;">
    <div class="m-auto text-white" style="text-align: center">
        <nav class="nav text-sm">
            <ul class="list-none">
                <li><a href="/">トップ</a></li>
                <li><a href="/">バックナンバー</a></li>
                <li><a href="/">イベント/スポーツ/文化</a></li>
                <li><a href="/">コラム</a></li>
                <li><a href="/">部員(ライター)紹介</a></li>
                <li><a href="/">こもんのためいき</a></li>
            </ul>
        </nav>
    </div>
</div>