<div class="ml-2 mr-2">
    <div class="flex">
        <div class="w-full">
            <div class="flex">
                <div class="flex m-auto">
                    <div class="w-50">
                        <p class="text-sm">令和4年</p>
                        <h3 class="font-bold">2022年01月23日(日)</h3>
                    </div>
                </div>
                <div class="flex m-auto">
                    <div class="text-xs text-center m-1">
                        20日の天気 <img class="m-auto" width="32px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPesjU3qUOqiuAeXuxbPcxhu2Ck9GHbiwYohTN4NSgPDv6c3gsNOd6xM1jM-mLUM7TkQU&usqp=CAU">
                        はれ<br>(☔:30%)
                    </div>
                    <div class="text-xs text-center m-1">
                        21日の天気 <img class="m-auto" width="32px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPesjU3qUOqiuAeXuxbPcxhu2Ck9GHbiwYohTN4NSgPDv6c3gsNOd6xM1jM-mLUM7TkQU&usqp=CAU">
                        はれ<br>(☔:30%)
                    </div>
                    <div class="text-xs text-center m-1">
                        22日の天気 <img class="m-auto" width="32px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPesjU3qUOqiuAeXuxbPcxhu2Ck9GHbiwYohTN4NSgPDv6c3gsNOd6xM1jM-mLUM7TkQU&usqp=CAU">
                        はれ<br>(☔:30%)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="headline-red bg-base-300">最新の記事一覧</div>
    <div class="flex">
        <div class="w-4/5">
            <ul class="list-disc pl-5">
                <li>長崎日大新聞 2022年01月号 (01/20)</li>
                <li>冬 (01/09)</li>
                <li>あけましておめでとうございます (01/01)</li>
                <li>修学旅行 in マレーシア (12/21)</li>
                <li>修学旅行 in 韓国 (12/21)</li>
            </ul>
        </div>
        <div class="w-1/5 m-auto mt-1">
            <img style="width:150px;height:auto;" src="/static/paper.jpg" >
            <p style="font-size: 12px;">長崎日大新聞 2022年01月号</p>
        </div>
    </div>

    <div class="headline-green bg-base-300">イベント/スポーツ/文化</div>
    <div class="flex">
        <div class="w-4/5">
            <div class="m-2">
                <h4 class="bg-yellow-300 font-medium pl-2 ">行事・イベント</h4>
                <ul class="list-disc pl-5 ml-2">
                    <li>修学旅行 in マレーシア (12/21)</li>
                    <li>修学旅行 in 韓国 (12/21)</li>
                    <li>修学旅行まであと一週間！ (12/12)</li>
                </ul>
                <h4 class="bg-blue-300 font-medium pl-2 mt-4">スポーツ</h4>
                <ul class="list-disc pl-5 ml-2">
                    <li>全国サッカー選手権大会県大会決勝 (11/30)</li>
                    <li>日大サッカー部、優勝！！ (07/20)</li>
                    <li>高総体閉幕 (06/12)</li>
                </ul>
            </div>
        </div>
        <div class="w-1/5 m-auto mt-1">
            <img style="width:150px;height:auto;" src="https://nagasaki-nichidai.jp/wordpress/wp-content/uploads/2022/01/272092631_1362256677536096_9040317078256233641_n-225x300.jpg" >
            <p style="font-size: 12px;">長崎日大新聞 2022年01月号</p>
        </div>
    </div>
    <div class="flex">
        <div class="w-full">
            <h4 class="bg-pink-300 font-medium pl-2 m-2">文化</h4>
            <ul class="list-disc pl-5 ml-4">
                <li>長崎県高等学校演劇発表会のお知らせ (11/21)</li>
                <li>祝、初受賞！(07/21)</li>
                <li>ヴァイオリン鑑賞会 (06/12)</li>
            </ul>
        </div>
    </div>

    <div class="headline-purple bg-base-300">フォト</div>
    <div class="flex">
        <div class="w-4/5">
            <div class="m-2">
                <ul class="list-disc pl-5">
                    <li>つらら (12/21)</li>
                    <li>尾曲り猫 (10/21)</li>
                    <li>台風、水没… (08/12)</li>
                    <li>猛暑 (08/10)</li>
                    <li>遠足の様子 (06/10)</li>
                </ul>
            </div>
        </div>
        <div class="w-1/5 m-auto mt-1">
            <img style="width:150px;height:auto;" src="https://nagasaki-nichidai.jp/wordpress/wp-content/uploads/2021/12/267420650_1339209723174125_8110405963077358006_n-225x300.jpg" >
            <p style="font-size: 12px;">長崎日大新聞 2022年01月号</p>
        </div>
    </div>

    <div class="headline-pink bg-base-300">コラム</div>
    <div class="flex">
        <div class="w-4/5">
            <div class="m-2">
                <ul class="list-disc pl-5">
                    <li>取材中！ (12/21)</li>
                    <li>青少年の犯罪について (12/21)</li>
                    <li>猫を飼い始めました (12/12)</li>
                    <li>バイクが欲しい！！ (11/10)</li>
                    <li>PCが壊れた。。。 (09/10)</li>
                </ul>
            </div>

        </div>
        <div class="w-1/5 m-auto mt-1">
            <img style="width:150px;height:auto;" src="https://nagasaki-nichidai.jp/wordpress/wp-content/uploads/2021/10/244425250_1295487650879666_6079646885484207451_n-225x300.jpg" >
            <p style="font-size: 12px;">長崎日大新聞 2022年01月号</p>
        </div>
    </div>


    <div class="flex">
        <div class="w-full">
            <div class="headline-blue bg-base-300">新聞バックナンバー</div>
            <ul class="list-disc pl-5">
                <li>長崎日大新聞 2022年01月号</li>
                <li>長崎日大新聞 2021年12月号</li>
                <li>長崎日大新聞 2021年11月号</li>
                <li>長崎日大新聞 2021年10月号</li>
                <li>長崎日大新聞 2021年09月号</li>
            </ul>
            <div class="m-2">

            </div>
        </div>
    </div>
</div>
