<div class="flex">
    <div class="w-4/5">
        <div class="m-2">
            <p class="text-sm">令和3年</p>
            <h2 class="card-title">2022年01月23日(日)</h2>
        </div>
        <div class="m-2">
            <div class="headline-red bg-base-300">最新の記事一覧</div>
            <ul class="list-disc pl-5">
                <li>長崎日大新聞 2022年01月号 (01/20)</li>
                <li>冬 (01/09)</li>
                <li>あけましておめでとうございます (01/01)</li>
                <li>修学旅行 in マレーシア (12/21)</li>
                <li>修学旅行 in 韓国 (12/21)</li>
            </ul>
        </div>
    </div>
    <div class="w-1/5 m-auto mt-1" style="width: 170px;">
        <img style="width:150px;height:auto;" src="/static/paper.jpg" >
        <p style="font-size: 12px;">長崎日大新聞 2022年01月号</p>
    </div>
</div>

<div class="flex">
    <div class="w-full">
        <div class="m-2">
            <div class="headline-blue bg-base-300">新聞バックナンバー</div>
            <ul class="list-disc pl-5">
                <li>長崎日大新聞 2022年01月号</li>
                <li>長崎日大新聞 2021年12月号</li>
                <li>長崎日大新聞 2021年11月号</li>
                <li>長崎日大新聞 2021年10月号</li>
                <li>長崎日大新聞 2021年09月号</li>
            </ul>
        </div>
        <div class="m-2">
            <div class="headline-green bg-base-300">学校行事/イベント</div>
            <ul class="list-disc pl-5">
                <li>修学旅行 in マレーシア (12/21)</li>
                <li>修学旅行 in 韓国 (12/21)</li>
                <li>修学旅行まであと一週間！ (12/12)</li>
                <li>明日は日大統一テスト (11/10)</li>
                <li>令和3年度体育大会 (09/10)</li>
            </ul>
        </div>

        <div class="m-2">
            <div class="headline-orange bg-base-300">スポーツ</div>
            <ul class="list-disc pl-5">
                <li>全国サッカー選手権大会県大会決勝 (11/30)</li>
                <li>日大サッカー部、優勝！！ (07/20)</li>
                <li>高総体閉幕 (06/12)</li>
                <li>高校総体のみどころ！ (06/07)</li>
                <li>春季戦で、バスケ・ハンドが善戦 (04/10)</li>
            </ul>
        </div>

        <div class="m-2">
            <div class="headline-yellow bg-base-300">文化</div>
            <ul class="list-disc pl-5">
                <li>長崎県高等学校演劇発表会のお知らせ (11/21)</li>
                <li>祝、初受賞！(07/21)</li>
                <li>ヴァイオリン鑑賞会 (06/12)</li>
                <li>新入部員募集 (04/10)</li>
                <li>桜菊祭のおしらせ (02/10)</li>
            </ul>
        </div>

        <div class="m-2">
            <div class="headline-purple bg-base-300">フォト</div>
            <ul class="list-disc pl-5">
                <li>つらら (12/21)</li>
                <li>尾曲り猫 (10/21)</li>
                <li>台風、水没… (08/12)</li>
                <li>猛暑 (08/10)</li>
                <li>遠足の様子 (06/10)</li>
            </ul>
        </div>

        <div class="m-2">
            <div class="headline-pink bg-base-300">コラム</div>
            <ul class="list-disc pl-5">
                <li>取材中！ (12/21)</li>
                <li>青少年の犯罪について (12/21)</li>
                <li>猫を飼い始めました (12/12)</li>
                <li>バイクが欲しい！！ (11/10)</li>
                <li>PCが壊れた。。。 (09/10)</li>
            </ul>
        </div>

        <div class="m-2">
            <div class="headline-sky bg-base-300">部員(ライター)紹介</div>
            <ul class="list-disc pl-5">
                <li>たなか</li>
                <li>こうじ</li>
                <li>みほ</li>
                <li>なすび</li>
                <li>Pentium</li>
            </ul>
        </div>

        <div class="m-2">
            <div class="headline-gray bg-base-300">こもんのためいき</div>
            <ul class="list-disc pl-5">
                <li>まだまだ40代！</li>
                <li>脱臼... (12/21)</li>
                <li>大食いチャレンジ (12/12)</li>
                <li>肩の荷が半分下りた。。。 (11/10)</li>
                <li>OBが来てくれました (09/10)</li>
            </ul>
        </div>

    </div>

</div>