

<div class="ml-2 mr-2 flex items-center justify-center ">

  <div class="w-full grid sm:grid-cols-5 grid-cols-1 content-center">
    <div class="w-full col-span-3">
      <div class="flex border-2 border-gray-200 sm:mt-7">
        <input type="text" class="w-full px-4 py-2" placeholder="記事検索">
        <button class="px-4 w-20 text-white bg-gray-600 border-l ">
          検索
        </button>
      </div>
    </div>


    <div class="col-span-2 m-auto">
      <div class="flex justify-center mr-1 ml-1">
        <div class="text-sm mr-1">令和4年</div>
        <div class="text-sm font-bold">2022年01月23日(日)</div>
      </div>
      <div class="flex justify-center m-auto">
        <div class="text-xs text-center sm:m-1 ml-4 mr-4">
          20日(火) <img class="m-auto" width="32px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPesjU3qUOqiuAeXuxbPcxhu2Ck9GHbiwYohTN4NSgPDv6c3gsNOd6xM1jM-mLUM7TkQU&usqp=CAU">
          はれ<br>(☔:30%)
        </div>
        <div class="text-xs text-center sm:m-1 ml-4 mr-4">
          21日(水) <img class="m-auto" width="32px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPesjU3qUOqiuAeXuxbPcxhu2Ck9GHbiwYohTN4NSgPDv6c3gsNOd6xM1jM-mLUM7TkQU&usqp=CAU">
          はれ<br>(☔:30%)
        </div>
        <div class="text-xs text-center sm:m-1 ml-4 mr-4">
          22日(木) <img class="m-auto" width="32px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPesjU3qUOqiuAeXuxbPcxhu2Ck9GHbiwYohTN4NSgPDv6c3gsNOd6xM1jM-mLUM7TkQU&usqp=CAU">
          はれ<br>(☔:30%)
        </div>
        <div class="text-xs text-center sm:m-1 ml-4 mr-4">
          23日(金) <img class="m-auto" width="32px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPesjU3qUOqiuAeXuxbPcxhu2Ck9GHbiwYohTN4NSgPDv6c3gsNOd6xM1jM-mLUM7TkQU&usqp=CAU">
          はれ<br>(☔:30%)
        </div>
      </div>
    </div>
  </div>



</div>